html  
    head
        title PUGGY PUG PUG
        script(src="https://d3js.org/d3.v4.js")
    body
        header
            p Testing webworkers with an animated bar plot
        section
            h2 this is the bar plot
            div(id='my_dataviz')
        script
          include ../javascripts/barplot.js